.stay-in-toch-card {
  background: transparent !important;
  border: unset !important;
  a {
    font-size: 0.8125rem;
    color: white !important;
    opacity: 1;
    transition: opacity 0.2s ease-in-out;
    &:hover {
      opacity: 0.7;
      transition: opacity 0.2s ease-in-out;
    }
  }
}
