.inner-hero {
  .btn-primary {
    border-color: transparent !important;
  }
}
.popup-youtube {
  span {
    transition: transform 0.3s ease-in-out !important;
    &:hover {
      transition: transform 0.3s ease-in-out !important;
    }
  }
}
