.inner-hero {
  .btn-primary {
    border-color: transparent !important;
  }

  @media (max-width: 576px) {
    h1 {
      line-height: 32px !important;
      font-size: 1.775rem !important;
    }

    h5 {
      line-height: 32px !important;
      font-size: 0.875rem !important;
    }
  }
}
.popup-youtube {
  span {
    transition: transform 0.3s ease-in-out !important;
    &:hover {
      transition: transform 0.3s ease-in-out !important;
    }
  }
}
