.block-member {
  cursor: pointer;
  opacity: 1;
  transition: opacity 0.2s ease-in-out;
  border-radius: 12px;
  img {
    position: static !important;
    border-radius: 12px;
    aspect-ratio: 0.75;
  }

  &:hover {
    opacity: 0.8;
    transition: opacity 0.2s ease-in-out;
  }
}

.member-info {
  border-radius: 0 0 12px 12px;
}

.band-head-container {
  display: flex;
  flex-direction: column;
  width: 100%;

  align-items: center;
  margin: 48px 0;

  h4 {
    font-size: 28px !important;
  }
  .band-head {
    max-width: 400px;
    max-height: 450px;
  }
}

.members-container {

  h4 {
    text-align: center !important;
    font-size: 28px !important;
  }
}
