.news-us-list {
  display: block;
  padding: 0;
  list-style: none;

  li {
    margin-bottom: 7.5rem;
    & > div {
      display: flex;
      gap: 30px;

      @media (max-width: 920px) {
        flex-direction: column !important;
      }
    }


    &:last-child {
      margin-bottom: 0;
    }
  }
}

.news-about-image-content-wrapper {
  height: 400px;
  @media (max-width: 920px) {
    width: 100%;
  }

  .block-content {
    height: 100%;
    border-radius: 12px;

    img {
      border-radius: 12px;
    }

    .scaled {
      transform: scale(0.98);
      transition: transform 0.3s ease-in-out;
    }

    &:hover {
      .scaled {
        transform: scale(1);
      }
    }

      &:hover {
        .scaled {
          transform: scale(1);
          transition: unset;
        }
      }
    }
  }


.news-about-content-wrapper {
  @media (max-width: 920px) {
    width: 100%;

  }
}

.about-us-text {
  max-height: 350px;
  white-space: pre-line;
  font-size: 16px;
  line-height: 1.5;
  overflow-y: auto;
}
