.album-actions-block {
  display: flex;
  flex-direction: row;
  height: max-content;
  justify-content: flex-end;
  align-items: center;
  gap: 10px;

  @media (max-width: 786px) {
    justify-content: flex-start;
    margin-top: 10px;
  }
}

.block-content {
  max-height: 410px;
}

.album-image {
  position: static !important;
  object-fit: cover;
  aspect-ratio: 2 / 1;
}
