.main-menu {
  @media (max-width: 768px) {
    padding-top: 6px !important;
  }
}

.left-part {
  a {
    width: 80px !important;
    @media (max-width: 1120px) {
      width: 70px !important;
    }
  }
  img {
    position: static !important;
    margin-bottom: unset !important;
  }
}
